*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 93.75%; /*15px*/
}

body{
    background: #f0f2f5;
    font-family: 'Arial', sans-serif;
}

header{
    background: #4379af;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: white;
    font-family: 'Arial Black', Times;
    font-size: 16px;
}

header nav a{
    text-decoration: none;
    color: white;
    margin-right: 30px;
}

header nav a:hover{
    color: #aaa
}

.container{
    margin-left: 30px;
}

div{
    text-align: center;
}

p{
    padding-top: 2rem;
}

button{
    width: 10%;
    height: 50px;

    border: none;

    color: white;
    background: #4379af;

    padding: 0;
    margin-top: 2rem;

    border-radius: 0.25rem;

    cursor: pointer;
}

button:hover{
    background: #ddf4f6;
    color: #4379af;
}

input{
    border: none;
    border-radius: 0.2rem;
    
    padding: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 20%;
}

footer{
    margin-top: 20%;
    text-align: center;
    padding: 2rem;
    color: white;
    background: #4379af;
    opacity: 0.6;
}