@media screen and (max-width:700px){
    header .container{
        display: flex;
        flex-direction: column;
    }

    .filme-principal{
        margin-top: 10px;
        margin-bottom: 10px;
        height: 500px;
    }

    .botao{
        margin-top: 5px;
        width: 300px;
    }
}

@media screen and (min-width: 1000px){
    .descricao{
        width: 50%;
    }
}